<template>
  <nav class="bg-gray-800 text-center">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-items-end h-16">
        <button @click="open = !open" type="button"
                class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
                aria-controls="mobile-menu" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg"
               fill="none" viewBox="0 0 24 24" stroke="currentColor"
               aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round"
                  stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
          </svg>
          <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg"
               fill="none" viewBox="0 0 24 24" stroke="currentColor"
               aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round"
                  stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
          </svg>
        </button>
      </div>
    </div>

    <div :class="!open && 'hidden'">
      <div class="px-2 pt-2 pb-3 space-y-4">
        <router-link
          @click.native="open = false"
          :key="link.path"
          exact-active-class="bg-gray-900 text-white"
          v-for="link in links"
          class="text-gray-300 block px-3 py-2 rounded-md text-base font-medium"
          :to="link.path">
          {{ link.text.toUpperCase() }}
        </router-link>
        <lang-toggle />
      </div>
    </div>
  </nav>
</template>

<script>
import LangToggle from './LangToggle'
export default {
  name: 'Navbar',
  components: {LangToggle},
  data () {
    return {
      open: false,
      links: [
        {path: '/', text: this.$t('home')},
        {path: '/about', text: this.$t('about')}
      ]
    }
  }
}
</script>
