<template>
  <div id="app">
    <navbar />
    <div class="p-4 text-gray-700">
      <router-view/>
    </div>
  </div>
</template>

<script>
import LangToggle from './components/LangToggle'
import Navbar from './components/Navbar'
export default {
  components: {Navbar, LangToggle}
}
</script>
